@import '~bootstrap/scss/functions';
@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import 'slick';
@import 'slick-theme';

/* note: must be first, before the logos/photos */
.sprite {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url('/2018/images/partije.png');
}

.bg-GS {background-position: -110px -10px;}
.bg-NDP {background-position: -1010px -10px;}
.bg-US {background-position: -210px -10px;}
.bg-BOSS {background-position: -310px -10px;}
.bg-DF {background-position: -410px -10px;}
.bg-DNS {background-position: -510px -10px;}
.bg-DNZ {background-position: -610px -10px;}
.bg-HDZ {background-position: -710px -10px;}
.bg-HDZ1990 {background-position: -810px -10px;}
.bg-HSP {background-position: -910px -10px;}
.bg-NS {background-position: -10px -10px;}
.bg-NSRzB {background-position: -1110px -10px;}
.bg-PDP {background-position: -1210px -10px;}
.bg-PS {background-position: -1310px -10px;}
.bg-SBB {background-position: -1410px -10px;}
.bg-SBiH {background-position: -1510px -10px;}
.bg-SDA {background-position: -1610px -10px;}
.bg-SDP {background-position: -1710px -10px;}
.bg-SDS {background-position: -1810px -10px;}
.bg-SNSD {background-position: -1910px -10px;}
.bg-SP {background-position: -2010px -10px;}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  // background-color: #e9ecef;
}

#container li {
    background: url('/2018/images/partije.png') no-repeat top left;
}

#comparison {
  background: $white;
}

.tooltip-top:hover {
  cursor: pointer;
}

.comp-center {
  text-align: center;
}

.no-number {
  list-style:none;
}

.result-number {
  font-family: $font-family-serif;
  font-size: 2em;
}

.result-very-positive {
  color: #060;
}

.result-positive {
  color: #090;
}

.result-neutral {
  color: #990;
}

.result-negative {
  color: #C30;
}

.result-very-negative {
  color: #900;
}

/* matrix */

.rect:hover,
.hover {
  cursor: pointer;
  fill-opacity: .6;
}

.domain {
  display: none;
}

.tick {
  font-family: sans-serif;
}

.descr {
  cursor: pointer;
  fill: #000;
  font-family: sans-serif;
}

.hoverBold {
  font-weight: bold;
}

.middle-rect {
  fill: #aaa;
}

.o-question {
  display: flex;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}

@include media-breakpoint-up(sm) {
  .i-question {
    padding: 0 4rem;
  }
}

input[type=radio] {
  display: none;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-brand {
  padding-bottom: 0;
  padding-top: 0;

  img{
    width: 60vw;
    padding: 0;
  }
}

body {
  font-size: 14px;
}

  .question-question{
    font-size: 1rem;
  }

@include media-breakpoint-up(sm) {
  .question-question{
    font-size: 2rem;
  }

  .navbar-brand img{
    width: 300px;
  }

  body{
    font-size: 18px;
  }
}

footer img{
  height: 48px;
  width: auto;
}

.vote-button{
  align-items: center;
  background-color: $gray-400;
  border: none;
  border-radius: 50%;
  color: $body-color;
  display: flex;
  height: 96px;
  justify-content: center;
  line-height: 1em;
  margin: 1px;
  padding: .5em;
  text-align: center;
  white-space: normal;
  width: 96px;
  word-break: break-word;
  word-wrap: normal;

  &:hover {
    background-color: $gray-500 !important;
  }

  &.active {
    background-color: $body-color !important;
  }

  span{
    word-break:break-word;
  }
}

@include media-breakpoint-up(sm) {
  .vote-button {
    height: 128px;
    margin: 10px;
    width: 128px;
  }
}

.weightsel-button {
  white-space: normal;
  text-align: left;
}

.weightsel {
  .list-group-item {
    padding: 0;
  }
  label {
    margin-bottom: 0;
  }
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none; /* WebKit */
}

.nav-link{
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
}

@include media-breakpoint-up(sm) {
  .nav-link{
    font-size: .75em;
  }
}

.nav-tabs {
    border-bottom: none;
}

.progress {
  background-color: $gray-400;
  height: 3px;
}

.home {
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.open-dialog {
  outline: none;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

.card {
  &.winner {
    padding: 0;
  }
}